{% extends "../base.html" %}
{% load static %}

{% block title %}Gestión de Calificaciones Tributarias{% endblock title %}

{% block content %}
    <div class="admin-container">

        <div class="profile-column">
            <i class="bi bi-person-circle profile-icon2"></i>
            <div class="profile-info">
                <p class="profile-label">{{ user.first_name}} {{user.last_name}}</p>
                <p class="profile-email">{{ user.email }}</p>
            </div>
        </div>

        <div class="admin-column">
            <div class="dropdown">
                <button class="admin-btn dropdown-toggle bi bi-people-fill py-3 px-4 w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Gestión de Usuarios del Sistema
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/usuarios/crear">Creación</a></li>
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/usuarios/ver">Visualización</a></li>
                </ul>
            </div>

            <div class="dropdown">
                <button class="admin-btn dropdown-toggle bi bi-file-earmark-bar-graph-fill py-3 px-4 w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Gestión de Calificaciones Tributarias
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/gestores/calificaciones/nueva">Creación</a></li>
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/gestores/calificaciones/">Visualización</a></li>
                </ul>
            </div>
        </div>

        <div class="admin-column">
            <div class="dropdown">
                <button class="admin-btn dropdown-toggle bi bi-currency-dollar py-3 px-4 w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Gestión de Instrumentos Financieros
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/gestores/instrumentos/nueva">Creación</a></li>
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/gestores/instrumentos/">Visualización</a></li>
                </ul>
            </div>

            
            <div class="dropdown">
                <button class="admin-btn dropdown-toggle bi bi-file-earmark-bar-graph-fill py-3 px-4 w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Gestión de solicitudes
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/solicitudes/crear">Creación</a></li>
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/solicitudes/">Visualización</a></li>
                </ul>
            </div>
        </div>

            <!--<button class="admin-btn">
                <i class="bi bi-shield-lock-fill"></i> Gestión de seguridad
            </button>   
            <button class="admin-btn">
                <i class="bi bi-hdd-fill"></i> Administración de respaldo
            </button>   
            <button class="admin-btn">
                <i class="bi bi-tools"></i> Mantenimiento del sistema
            </button>-->
        </div>
    </div>
{% endblock content %}