{% extends "../base.html" %}
{% load static %}

{% block title %}Inicio Auditor tributario{% endblock title %}

{% block content %}
<div class="auditor-layout">

    <div class="profile-column">
            <i class="bi bi-person-circle profile-icon2"></i>
            <div class="profile-info">
                <p class="profile-label">Auditor</p>
                <p class="profile-email">auditor@nuam.com</p>
            </div>
        </div>

    <div class="auditor-column">
        <button class="admin-btn">
            <i class="bi bi-check2-circle"></i> Validación de calificaciones tributarias
        </button>

        <button class="admin-btn">
            <i class="bi bi-check2-square"></i> Validación de instrumentos financieros
        </button>

        <button class="admin-btn">
            <i class="bi bi-clock-history"></i> Acceso a historial
        </button>
    </div>

    <div class="auditor-column">
        <button class="admin-btn">
            <i class="bi bi-journal-text"></i> Registro de auditoria
        </button>

        <button class="admin-btn">
            <i class="bi bi-arrow-counterclockwise"></i> Solicitud de restauraciones de datos
        </button>

        <div class="dropdown">
            <button class="admin-btn dropdown-toggle bi bi-file-earmark-bar-graph-fill py-3 px-4 w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Gestión de solicitudes
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="http://127.0.0.1:8000/solicitudes/crear">Creación</a></li>
                <li><a class="dropdown-item" href="http://127.0.0.1:8000/solicitudes/">Visualización</a></li>
            </ul>
        </div>
    </div>


</div>
{% endblock content %}