{% extends "../base.html" %}
{% load static %}

{% block title %}Inicio Corrodor de bolsas{% endblock title %}

{% block navbar %}
    <nav class="navbar bg-nuam-nav border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/logo.png' %}" alt="Logo" width="117" height="27"> |
                </div>

                <div class="col market-info">
                    <span class="mt-3">
                        MSCI NUAM USD
                        </br>
                        1.371 0.71% ▲
                    </span>
                </div>
            </div>
        </a>
        <div class="justify-content-end">
            <div class="profile-icon1">
                <i class="bi bi-person-circle"></i>
            </div>
        </div>
      </div>
    </nav>
{% endblock navbar %}

{% block content %}
<div class="broker-layout">

    <div class="profile-column">
            <i class="bi bi-person-circle profile-icon2"></i>
            <div class="profile-info">
                <p class="profile-label">Corredor</p>
                <p class="profile-email">corredor@nuam.com</p>
            </div>
        </div>

    <div class="broker-column left-column">
        <button class="admin-btn">
            <i class="bi bi-file-earmark-bar-graph-fill"></i> Gestión de calificaciones tributarias
        </button>
        <div class="sub-actions">
            <button class="sub-btn"><i class="bi bi-file-earmark-plus-fill"></i> Creación</button>
            <button class="sub-btn"><i class="bi bi-pencil-fill"></i> Modificación</button>
            <button class="sub-btn"><i class="bi bi-trash-fill"></i> Eliminación</button>
        </div>
    </div>

    <div class="broker-column right-column">
        <button class="admin-btn">
            <i class="bi bi-journal-plus"></i> Creación de instrumentos financieros
        </button>

        <button class="admin-btn">
        <i class="bi bi-bar-chart-line-fill"></i> Módulo de calificaciones tributarias
        </button>

        <button class="admin-btn">
            <i class="bi bi-graph-up-arrow"></i> Módulo de instrumentos financieros
        </button>
    </div>
</div>
{% endblock content %}