{% extends "../base.html" %}
{% load static %}

{% block title %}Gestión de Calificaciones Tributarias{% endblock title %}

{% block navbar %}
  
{% endblock navbar %}


{% block content %}
  <div class="container p-5">
    <div class="card card-login mx-auto p-2 align-items-center">
      <div class="card-body">
        <h5 class="card-title mb-4"><img src="{% static 'img/logo.png' %}" alt="Logo" width="117" height="27" class="d-inline-block align-text-bottom"> | Iniciar Sesión</h5>
        <form class="">
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"><i class="bi-envelope"></i></span>
              <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="">
                <label for="floatingInput">Correo Electrónico</label>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"><i class="bi-lock"></i></span>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="">
                <label for="floatingPassword">Contraseña</label>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="checkDefault">
              <label class="form-check-label" for="checkDefault">
                Recordarme
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary align-self-center">Iniciar Sesión</button>
          </form>
      </div>
    </div>
  </div>
{% endblock content %}