    .khwTYl {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    /*!sc*/
    data-styled.g2[id="sc-4a80cea0-1"] {
      content: "khwTYl,"
    }

    /*!sc*/
    .ijRrXL {
      width: 32px;
      height: 32px;
      padding: 0px 0px 0px 0px;
      gap: 10px;
      border-radius: 4px 16px 4px 16px;
      border: 2px solid #FF411C;
      opacity: 0px;
      background-color: #F7F7F7;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: background-color 0.25s ease, border-color 0.25s ease;
      transition: background-color 0.25s ease, border-color 0.25s ease;
      display: none;
    }

    /*!sc*/
    .ijRrXL:hover {
      background-color: #FF411C;
    }

    /*!sc*/
    .ijRrXL:hover path {
      fill: #F7F7F7;
      -webkit-transition: fill 0.25s ease;
      transition: fill 0.25s ease;
    }

    /*!sc*/
    @media only screen and (max-width: 640px) {
      .ijRrXL {
        display: none;
      }
    }

    /*!sc*/
    .ihWjtm {
      width: 32px;
      height: 32px;
      padding: 0px 0px 0px 0px;
      gap: 10px;
      border-radius: 4px 16px 4px 16px;
      border: 2px solid #FF411C;
      opacity: 0px;
      background-color: #F7F7F7;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: background-color 0.25s ease, border-color 0.25s ease;
      transition: background-color 0.25s ease, border-color 0.25s ease;
    }

    /*!sc*/
    .ihWjtm:hover {
      background-color: #FF411C;
    }

    /*!sc*/
    .ihWjtm:hover path {
      fill: #F7F7F7;
      -webkit-transition: fill 0.25s ease;
      transition: fill 0.25s ease;
    }

    /*!sc*/
    @media only screen and (max-width: 640px) {
      .ihWjtm {
        display: none;
      }
    }

    /*!sc*/
    data-styled.g3[id="sc-4a80cea0-2"] {
      content: "ijRrXL,ihWjtm,"
    }

    /*!sc*/
    .kHIAfO {
      z-index: 20;
    }

    /*!sc*/
    .kHIAfO button.prev {
      position: absolute;
      z-index: 20;
      left: 20px;
      top: calc(50% - 16px);
    }

    /*!sc*/
    .kHIAfO button.next {
      position: absolute;
      z-index: 20;
      right: 20px;
      top: calc(50% - 16px);
    }

    /*!sc*/
    data-styled.g4[id="sc-4a80cea0-3"] {
      content: "kHIAfO,"
    }

    /*!sc*/
    .iQsMEc {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    /*!sc*/
    data-styled.g5[id="sc-4a80cea0-4"] {
      content: "iQsMEc,"
    }

    /*!sc*/
    .eihwkb {
      color: #fffbfa;
      font-size: 20px;
      font-weight: 400;
    }

    /*!sc*/
    data-styled.g7[id="sc-4a80cea0-6"] {
      content: "eihwkb,"
    }

    /*!sc*/
    .bmOciw {
      position: relative;
      max-width: 100vw;
      width: 100%;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /*!sc*/
    .bmOciw * {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /*!sc*/
    .bmOciw .swiper {
      opacity: 0;
    }

    /*!sc*/
    .bmOciw .swiper-initialized {
      opacity: 1;
    }

    /*!sc*/
    .bmOciw .swiper-wrapper {
      cursor: default !important;
    }

    /*!sc*/
    .bmOciw .swiper-button-prev,
    .bmOciw .swiper-button-next {
      width: 32px;
      height: 32px;
      padding: 0px 0px 0px 0px;
      gap: 10px;
      border-radius: 4px 16px 4px 16px;
      border: 2px solid #FF411C;
      opacity: 0px;
      background-color: #F7F7F7;
    }

    /*!sc*/
    .bmOciw .swiper-button-prev::after,
    .bmOciw .swiper-button-next::after {
      font-size: 10px;
      font-weight: 900;
      color: #FF411C;
    }

    /*!sc*/
    .bmOciw .swiper-button-next {
      margin-right: 20px;
    }

    /*!sc*/
    .bmOciw .swiper-button-prev {
      margin-left: 20px;
    }

    /*!sc*/
    .bmOciw .swiper-pagination-bullet {
      opacity: 1;
      background-color: #F8E2DA;
    }

    /*!sc*/
    .bmOciw .swiper-pagination-bullet-active {
      background-color: #FF411C;
    }

    /*!sc*/
    .bmOciw .swiper-slide {
      max-width: 100vw;
      height: 196px;
      height: 416px;
    }

    /*!sc*/
    @media only screen and (max-width: 640px) {
      .bmOciw .swiper-slide {
        height: 268px;
        height: 380px;
      }

      .bmOciw .swiper-button-next {
        display: none;
      }

      .bmOciw .swiper-button-prev {
        display: none;
      }
    }

    /*!sc*/
    data-styled.g8[id="sc-4a80cea0-7"] {
      content: "bmOciw,"
    }

    /*!sc*/
    .kWgoMP {
      z-index: 3;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 10%;
      box-sizing: border-box;
      padding: 10px 7%;
      text-align: center;
      max-height: 100%;
      cursor: pointer;
    }

    /*!sc*/
    data-styled.g9[id="sc-4a80cea0-8"] {
      content: "kWgoMP,"
    }

    /*!sc*/
    .edWYif {
      z-index: 2;
      width: 100%;
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      opacity: 0.8;
      background-color: #;
    }

    /*!sc*/
    data-styled.g10[id="sc-4a80cea0-9"] {
      content: "edWYif,"
    }

    /*!sc*/
    .hSizXQ {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      width: auto;
      height: 100%;
      min-height: 476px;
      min-width: 0px;
      max-width: auto;
      max-height: auto;
      padding: 20px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 36px;
      margin: 0px;
      -webkit-box-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }

    /*!sc*/
    @media only screen and (max-width: 768px) {
      .hSizXQ {
        gap: 20px;
        height: undefined;
        min-height: 891px;
      }
    }

    /*!sc*/
    .hdLObj {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      height: 100%;
      min-height: 100%;
      min-width: 0px;
      max-width: auto;
      max-height: auto;
      padding: 0px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: flex-start;
      -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
      gap: 20px;
      margin: 0px;
      -webkit-box-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }

    /*!sc*/
    @media only screen and (max-width: 768px) {
      .hdLObj {
        gap: 17px;
        -webkit-align-items: flex-start;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
      }
    }

    /*!sc*/
    .dRlamu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 30px;
      height: 100%;
      min-height: auto;
      min-width: 0px;
      max-width: auto;
      max-height: auto;
      padding: 0;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: start;
      justify-content: start;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 0;
      margin: 0px;
      -webkit-box-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }

    /*!sc*/
    .bmxXTM {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      height: auto;
      min-height: auto;
      min-width: 0px;
      max-width: auto;
      max-height: auto;
      padding: 0px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: flex-start;
      -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
      gap: 0px;
      margin: 0px;
      -webkit-box-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }

    /*!sc*/
    .jrKOoQ {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      height: auto;
      min-height: auto;
      min-width: 0px;
      max-width: auto;
      max-height: auto;
      padding: 0px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: start;
      justify-content: start;
      -webkit-align-items: start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
      gap: 8px;
      margin: 0px;
      -webkit-box-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    /*!sc*/
    .dygnOW {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      width: auto;
      height: auto;
      min-height: auto;
      min-width: 0px;
      max-width: 700px;
      max-height: auto;
      padding: 0px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 8px;
      margin: 0px;
      -webkit-box-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    /*!sc*/
    @media only screen and (max-width: 768px) {
      .dygnOW {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: end;
        justify-content: end;
        -webkit-align-items: end;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: end;
        width: 100%;
        min-width: 262px;
        max-height: auto;
      }
    }

    /*!sc*/
    data-styled.g91[id="sc-f075b3d6-0"] {
      content: "hSizXQ,hdLObj,dRlamu,bmxXTM,jrKOoQ,dygnOW,"
    }

    /*!sc*/
    .gxARbq {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    /*!sc*/
    data-styled.g92[id="sc-f075b3d6-1"] {
      content: "gxARbq,"
    }

    /*!sc*/
    .ipHsAQ {
      font-family: var(--font-Degular);
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-align: left;
      margin-bottom: 12px;
      color: #FF411C;
    }

    /*!sc*/
    data-styled.g93[id="sc-f075b3d6-2"] {
      content: "ipHsAQ,"
    }

    /*!sc*/
    .jCtFtl {
      width: 100%;
    }

    /*!sc*/
    @media only screen and (max-width: 1280px) {
      .jCtFtl {
        width: 83px;
      }
    }

    /*!sc*/
    data-styled.g94[id="sc-f075b3d6-3"] {
      content: "jCtFtl,"
    }

    /*!sc*/
    .bWFZIA {
      font-family: var(--font-Degular);
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.04em;
      text-align: left;
      word-wrap: break-word;
      padding: 0;
      word-break: keep-all;
      color: #F7F7F7;
    }

    /*!sc*/
    .bWFZIA:hover {
      font-weight: 700;
    }

    /*!sc*/
    data-styled.g95[id="sc-f075b3d6-4"] {
      content: "bWFZIA,"
    }

    /*!sc*/
    .hDtuZo {
      cursor: pointer;
      height: 100%;
    }

    /*!sc*/
    data-styled.g96[id="sc-f075b3d6-5"] {
      content: "hDtuZo,"
    }

    /*!sc*/
    .cIzPRk {
      background-color: #3D3D3D;
    }

    /*!sc*/
    data-styled.g97[id="sc-f075b3d6-6"] {
      content: "cIzPRk,"
    }

    /*!sc*/
    .kQoiTn {
      width: 100%;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      font-family: var(--font-Degular);
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.04em;
      text-align: center;
      color: #F7F7F7;
    }

    /*!sc*/
    data-styled.g98[id="sc-f075b3d6-7"] {
      content: "kQoiTn,"
    }

    /*!sc*/
    .fmFfHa {
      display: -ms-grid;
      display: grid;
      width: 100%;
      -ms-grid-columns: repeat(3, 240px) 1fr;
      grid-template-columns: repeat(3, 240px) 1fr;
      gap: 0px 40px;
      -ms-grid-auto-flow: row;
      grid-auto-flow: row;
    }

    /*!sc*/
    @media only screen and (max-width: 1280px) {
      .fmFfHa {
        -ms-grid-columns: repeat(3, 152px) 1fr;
        grid-template-columns: repeat(3, 152px) 1fr;
      }
    }

    /*!sc*/
    @media only screen and (max-width: 1024px) {
      .fmFfHa {
        -ms-grid-columns: repeat(3, 152px) 1fr;
        grid-template-columns: repeat(3, 152px) 1fr;
      }
    }

    /*!sc*/
    @media only screen and (max-width: 768px) {
      .fmFfHa {
        -ms-grid-columns: repeat(2, 117px);
        grid-template-columns: repeat(2, 117px);
        -ms-grid-rows: repeat(2, min-content);
        grid-template-rows: repeat(2, min-content);
        -webkit-box-pack: space-around;
        -ms-flex-pack: space-around;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        gap: 20px 28px;
      }
    }

    /*!sc*/
    data-styled.g99[id="sc-f075b3d6-8"] {
      content: "fmFfHa,"
    }

    /*!sc*/
    .fYCKAw {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      grid-column: span 1;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: flex-start;
      -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
      gap: 8px;
    }

    /*!sc*/
    .mzupF {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      grid-column: span 1;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: end;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: end;
      gap: 8px;
    }

    /*!sc*/
    data-styled.g100[id="sc-f075b3d6-9"] {
      content: "fYCKAw,mzupF,"
    }

    /*!sc*/
    .dMoFfd {
      display: block;
      width: 100%;
    }

    /*!sc*/
    @media only screen and (min-width: 1024px) {
      .dMoFfd {
        width: 243.43px;
      }
    }

    /*!sc*/
    data-styled.g101[id="sc-f075b3d6-10"] {
      content: "dMoFfd,"
    }

    /*!sc*/
    .ckmLn {
      width: 2px;
      height: 44px;
      gap: 10px;
      border-radius: 4px 0px 0px 0px;
      opacity: 0px;
      background: #FF411C;
    }

    /*!sc*/
    @media only screen and (max-width: 768px) {
      .ckmLn {
        height: 31.49px;
      }
    }

    /*!sc*/
    data-styled.g102[id="sc-f075b3d6-11"] {
      content: "ckmLn,"
    }

    /*!sc*/
    .bTKxXi {
      position: relative;
      width: 86.76px;
      height: 44px;
      box-sizing: border-box;
      border-radius: 4px 20px 4px 20px;
      background: #181818;
      -webkit-transition: background 0.2s;
      transition: background 0.2s;
      cursor: pointer;
    }

    /*!sc*/
    .bTKxXi:hover {
      background: #FD441E;
    }

    /*!sc*/
    @media only screen and (max-width: 768px) {
      .bTKxXi {
        width: 62.09px;
        height: 31.49px;
        border-radius: 4px 20px 4px 20px;
      }
    }

    /*!sc*/
    data-styled.g103[id="sc-f075b3d6-12"] {
      content: "bTKxXi,"
    }

    /*!sc*/
    .bsztkp {
      position: relative;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #181818;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer;
      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s;
    }

    /*!sc*/
    .bsztkp img {
      width: 100% !important;
      height: 100% !important;
      object-fit: scale-down !important;
    }

    /*!sc*/
    .bsztkp:hover {
      background-color: #FD441E;
    }

    /*!sc*/
    data-styled.g104[id="sc-a05728c-0"] {
      content: "bsztkp,"
    }

    /*!sc*/
    .cHwtAn {
      height: 80px;
      background: #FFFBFA;
    }

    /*!sc*/
    data-styled.g105[id="sc-1fe0f3ed-0"] {
      content: "cHwtAn,"
    }

    /*!sc*/
    .hezBgT {
      height: 40px;
      width: 146;
      cursor: pointer;
    }

    /*!sc*/
    @media (max-width:768px) {
      .hezBgT {
        height: 30px;
      }
    }

    /*!sc*/
    data-styled.g108[id="sc-1fe0f3ed-3"] {
      content: "hezBgT,"
    }

    /*!sc*/
    .GcAoq {
      position: relative;
      display: inline-block;
    }

    /*!sc*/
    data-styled.g111[id="sc-1fe0f3ed-6"] {
      content: "GcAoq,"
    }

    /*!sc*/
    .iwRNLJ {
      background: none;
      border: none;
      color: #333;
      font-weight: bold;
      cursor: pointer;
    }

    /*!sc*/
    data-styled.g112[id="sc-1fe0f3ed-7"] {
      content: "iwRNLJ,"
    }

    /*!sc*/
    .kqWSAy {
      display: none;
      position: absolute;
      right: 0;
      background-color: white;
      overflow: hidden;
      gap: 8px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
      z-index: 9999;
      width: 81px;
      height: 92px;
      border-radius: 20px;
      border: 2px solid #FF411C;
    }

    /*!sc*/
    data-styled.g113[id="sc-1fe0f3ed-8"] {
      content: "kqWSAy,"
    }

    /*!sc*/
    .hTJUHR {
      padding: 0.5rem 1rem;
      display: block;
      -webkit-text-decoration: none;
      text-decoration: none;
      font-family: var(--font-PTSerif);
      font-weight: 700;
      cursor: pointer;
      color: #3D3D3D;
    }

    /*!sc*/
    .hTJUHR:hover {
      color: #FF411C;
    }

    /*!sc*/
    .kccqCp {
      padding: 0.5rem 1rem;
      display: block;
      -webkit-text-decoration: none;
      text-decoration: none;
      font-family: var(--font-PTSerif);
      font-weight: 700;
      cursor: pointer;
      color: #FF411C;
    }

    /*!sc*/
    .kccqCp:hover {
      color: #FF411C;
    }

    /*!sc*/
    data-styled.g114[id="sc-1fe0f3ed-9"] {
      content: "hTJUHR,kccqCp,"
    }

    /*!sc*/
    .bRlUoJ {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 30px;
    }

    /*!sc*/
    data-styled.g116[id="sc-1fe0f3ed-11"] {
      content: "bRlUoJ,"
    }

    /*!sc*/
    .Suiva {
      -webkit-text-decoration: none;
      text-decoration: none;
      color: #7A7A7A;
      font-weight: 700;
      font-family: var(--font-PTSerif);
    }

    /*!sc*/
    .Suiva:hover {
      color: #FF411C;
    }

    /*!sc*/
    @media (max-width:768px) {
      .Suiva {
        padding: 0.5rem 0;
      }
    }

    /*!sc*/
    data-styled.g117[id="sc-1fe0f3ed-12"] {
      content: "Suiva,"
    }

    /*!sc*/
    .kINttb {
      position: relative;
    }

    /*!sc*/
    data-styled.g119[id="sc-1fe0f3ed-14"] {
      content: "kINttb,"
    }

    /*!sc*/
    .cbxFmg .line-hamburger {
      background-color: #FF411C;
      height: 2px;
    }

    /*!sc*/
    .cbxFmg>.line-hamburger:first-child {
      width: 7.5px;
    }

    /*!sc*/
    .cbxFmg>span:nth-child(2),
    .cbxFmg>span:nth-child(3) {
      width: 15px;
    }

    /*!sc*/
    data-styled.g121[id="sc-1fe0f3ed-16"] {
      content: "cbxFmg,"
    }

    /*!sc*/
    .bxDtwa {
      width: 24px;
      height: 24px;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
    }

    /*!sc*/
    .bxDtwa * {
      stroke: #FF411C;
    }

    /*!sc*/
    data-styled.g123[id="sc-1fe0f3ed-18"] {
      content: "bxDtwa,"
    }

    /*!sc*/
    .lkewed {
      display: inline-block;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
    }

    /*!sc*/
    data-styled.g124[id="sc-1fe0f3ed-19"] {
      content: "lkewed,"
    }

    /*!sc*/
    .kJeuwi {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      gap: 2px;
      padding: 4px 8px;
    }

    /*!sc*/
    .kJeuwi:hover {
      border: 1px solid #FF411C;
      border-radius: 4px 12px 4px 12px;
      cursor: pointer;
    }

    /*!sc*/
    .kJeuwi:hover>a {
      color: #FF411C;
    }

    /*!sc*/
    @media only screen and (max-width: 768px) {
      .kJeuwi:hover {
        border: none;
      }

      .kJeuwi:hover>a {
        color: #3D3D3D;
      }
    }

    /*!sc*/
    data-styled.g140[id="sc-358df34a-3"] {
      content: "kJeuwi,"
    }

    /*!sc*/
    .jqEylm {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      font-family: var(--font-PTSerif);
      letter-spacing: 4%;
      white-space: nowrap;
      color: #3D3D3D;
    }

    /*!sc*/
    @media only screen and (max-width: 768px) {
      .jqEylm {
        font-size: 12px;
      }
    }

    /*!sc*/
    data-styled.g141[id="sc-358df34a-4"] {
      content: "jqEylm,"
    }

    /*!sc*/
    .iuKsZ {
      background: #FFFFFF;
    }

    /*!sc*/
    .iuKsZ * {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /*!sc*/
    .iuKsZ .swiper-pagination-bullet {
      opacity: 1;
      background-color: #F8E2DA;
    }

    /*!sc*/
    .iuKsZ .swiper-pagination-bullet-active {
      background-color: #FF411C;
    }

    /*!sc*/
    .iuKsZ .swiper {
      margin: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
    }

    /*!sc*/
    .iuKsZ .swiper-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }

    /*!sc*/
    .iuKsZ .swiper-wrapper .swiper-slide {
      padding-right: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-grid-column-align: stretch;
      justify-self: stretch;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
    }

    /*!sc*/
    .iuKsZ .swiper-wrapper>.swiper-slide:last-child {
      min-width: 284px;
      padding-right: 0;
    }

    /*!sc*/
    data-styled.g144[id="sc-abfcb992-0"] {
      content: "iuKsZ,"
    }

    /*!sc*/
    .frlCNe {
      color: #FF411C;
      font-size: 32px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0.04em;
      text-align: left;
    }

    /*!sc*/
    data-styled.g145[id="sc-abfcb992-1"] {
      content: "frlCNe,"
    }

    /*!sc*/
    .dRoZz {
      min-width: 280px;
      min-height: 210px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      width: 100%;
      padding: 20px;
      gap: 8px;
      border-radius: 4px 20px 4px 20px;
      margin-top: 30px;
      padding: 25px;
      background: #F7F7F7;
      padding: 1.5rem;
      text-align: left;
    }

    /*!sc*/
    .dRoZz button {
      width: auto;
    }

    /*!sc*/
    data-styled.g146[id="sc-abfcb992-2"] {
      content: "dRoZz,"
    }

    /*!sc*/
    .fmSfvE {
      font-size: 1.25rem;
      color: #3D3D3D;
      margin-bottom: 1rem;
      font-weight: 700;
    }

    /*!sc*/
    data-styled.g147[id="sc-abfcb992-3"] {
      content: "fmSfvE,"
    }

    /*!sc*/
    .ivTXWD {
      font-size: 1rem;
      color: #333;
    }

    /*!sc*/
    data-styled.g148[id="sc-abfcb992-4"] {
      content: "ivTXWD,"
    }

    /*!sc*/
    .jmzra {
      min-width: calc(284px + 20px);
      max-width: 100%;
      margin-bottom: 40px;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      height: auto;
    }

    /*!sc*/
    data-styled.g150[id="sc-abfcb992-6"] {
      content: "jmzra,"
    }

    /*!sc*/
    .eaNkee {
      z-index: 20;
    }

    /*!sc*/
    .eaNkee button.prev {
      position: absolute;
      z-index: 20;
      left: -50px;
      top: calc(50% - 16px);
    }

    /*!sc*/
    .eaNkee button.next {
      position: absolute;
      z-index: 20;
      right: -50px;
      top: calc(50% - 16px);
    }

    /*!sc*/
    data-styled.g151[id="sc-abfcb992-7"] {
      content: "eaNkee,"
    }

    /*!sc*/
    .gmTgLB {
      width: 32px;
      height: 32px;
      padding: 0px 0px 0px 0px;
      gap: 10px;
      border-radius: 4px 16px 4px 16px;
      border: 2px solid #FF411C;
      opacity: 0px;
      background-color: #F7F7F7;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: background-color 0.25s ease, border-color 0.25s ease;
      transition: background-color 0.25s ease, border-color 0.25s ease;
      display: none;
    }

    /*!sc*/
    .gmTgLB:hover {
      background-color: #FF411C;
    }

    /*!sc*/
    .gmTgLB:hover path {
      fill: #F7F7F7;
      -webkit-transition: fill 0.25s ease;
      transition: fill 0.25s ease;
    }

    /*!sc*/
    @media only screen and (max-width: 640px) {
      .gmTgLB {
        display: none;
      }
    }

    /*!sc*/
    .cyNOxt {
      width: 32px;
      height: 32px;
      padding: 0px 0px 0px 0px;
      gap: 10px;
      border-radius: 4px 16px 4px 16px;
      border: 2px solid #FF411C;
      opacity: 0px;
      background-color: #F7F7F7;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: background-color 0.25s ease, border-color 0.25s ease;
      transition: background-color 0.25s ease, border-color 0.25s ease;
      display: none;
    }

    /*!sc*/
    .cyNOxt:hover {
      background-color: #FF411C;
    }

    /*!sc*/
    .cyNOxt:hover path {
      fill: #F7F7F7;
      -webkit-transition: fill 0.25s ease;
      transition: fill 0.25s ease;
    }

    /*!sc*/
    @media only screen and (max-width: 640px) {
      .cyNOxt {
        display: none;
      }
    }

    /*!sc*/
    data-styled.g152[id="sc-abfcb992-8"] {
      content: "gmTgLB,cyNOxt,"
    }

    /*!sc*/
    .dhxhRd {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    /*!sc*/
    data-styled.g154[id="sc-abfcb992-10"] {
      content: "dhxhRd,"
    }

    /*!sc*/
    .lhsAzE {
      border-radius: 4px 20px 4px 20px;
      min-height: 44px;
      width: 220px;
      font-weight: 900;
      -webkit-transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
      transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
      color: #0B7D4E;
      width: auto;
      padding: 0 0px;
      border: 2px solid transparent;
    }

    /*!sc*/
    @media only screen and (max-width: 640px) {
      .lhsAzE {
        width: 100%;
      }
    }

    /*!sc*/
    .lhsAzE:hover {
      color: #FF411C;
    }

    /*!sc*/
    .bMfeFD {
      border-radius: 4px 20px 4px 20px;
      min-height: 44px;
      width: 220px;
      font-weight: 900;
      -webkit-transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
      transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
      color: #FFFBFA;
      background: #181818;
      border: 2px solid #181818;
    }

    /*!sc*/
    @media only screen and (max-width: 640px) {
      .bMfeFD {
        width: 100%;
      }
    }

    /*!sc*/
    .bMfeFD:hover {
      color: #FFFBFA;
      background: #FF411C;
      border: 2px solid #FF411C;
    }

    /*!sc*/
    data-styled.g155[id="sc-dede69f5-0"] {
      content: "lhsAzE,bMfeFD,"
    }

    /*!sc*/
    .GdyA {
      background: #FFFFFF;
    }

    /*!sc*/
    data-styled.g156[id="sc-f1bd3019-0"] {
      content: "GdyA,"
    }

    /*!sc*/
    .eBHLQK {
      color: #FF411C;
      font-size: 2rem;
      margin-bottom: 2rem;
      font-size: 40px;
      font-weight: 400;
      line-height: 44px;
      letter-spacing: 0.04em;
      text-align: center;
    }

    /*!sc*/
    data-styled.g157[id="sc-f1bd3019-1"] {
      content: "eBHLQK,"
    }

    /*!sc*/
    .eeLiOT {
      margin-left: 20%;
      margin-right: 20%;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-align: center;
    }

    /*!sc*/
    @media (max-width:) {
      .eeLiOT {
        margin-left: 10%;
        margin-right: 10%;
      }
    }

    /*!sc*/
    @media (max-width:) {
      .eeLiOT {
        margin-left: 5%;
        margin-right: 5%;
      }
    }

    /*!sc*/
    data-styled.g158[id="sc-f1bd3019-2"] {
      content: "eeLiOT,"
    }

    /*!sc*/
    .fpnspA {
      height: 220px;
      top: 1175px;
      left: 20px;
      gap: var(20px);
      border-radius: 4px 20px 4px 20px;
      opacity: 0px;
      margin-top: 30px;
      background: url(https://media.graphassets.com/5MSvMK0GQ3OtNqKQj27g) no-repeat center center;
      -webkit-background-size: cover;
      background-size: cover;
      padding: 1.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      background-blend-mode: darken;
      background-color: rgba(0, 0, 0, 0.5);
    }

    /*!sc*/
    .fNDEuz {
      height: 220px;
      top: 1175px;
      left: 20px;
      gap: var(20px);
      border-radius: 4px 20px 4px 20px;
      opacity: 0px;
      margin-top: 30px;
      background: url(https://media.graphassets.com/4UuXXB80QXOoRZGKx8cg) no-repeat center center;
      -webkit-background-size: cover;
      background-size: cover;
      padding: 1.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      background-blend-mode: darken;
      background-color: rgba(0, 0, 0, 0.5);
    }

    /*!sc*/
    .bcxIOE {
      height: 220px;
      top: 1175px;
      left: 20px;
      gap: var(20px);
      border-radius: 4px 20px 4px 20px;
      opacity: 0px;
      margin-top: 30px;
      background: url(https://media.graphassets.com/YgisFzjOQNq2QSjqsn27) no-repeat center center;
      -webkit-background-size: cover;
      background-size: cover;
      padding: 1.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      background-blend-mode: darken;
      background-color: rgba(0, 0, 0, 0.5);
    }

    /*!sc*/
    data-styled.g159[id="sc-f1bd3019-3"] {
      content: "fpnspA,fNDEuz,bcxIOE,"
    }

    /*!sc*/
    .dqmBBc {
      font-size: 2.5rem;
      color: #FFFFFF;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    /*!sc*/
    data-styled.g160[id="sc-f1bd3019-4"] {
      content: "dqmBBc,"
    }

    /*!sc*/
    .qzdHu {
      width: 184px;
      height: 48px;
      border-radius: 4px 20px 4px 20px;
      border: 2px 0px 0px 0px;
      opacity: 0px;
      color: var(--Color-primary-Orange-00, #fffbfa);
      font-weight: bold;
      background: var(--Color-Semantics-Grayscale-1000, #181818);
      border: 2px solid var(--Color-primary-Orange-400, #ff411c);
    }

    /*!sc*/
    .qzdHu:hover {
      background-color: #FF411C;
    }

    /*!sc*/
    data-styled.g161[id="sc-f1bd3019-5"] {
      content: "qzdHu,"
    }

    /*!sc*/
    .hRtGRc {
      background: #FFFFFF;
    }

    /*!sc*/
    data-styled.g162[id="sc-7fcf91a3-0"] {
      content: "hRtGRc,"
    }

    /*!sc*/
    .latxOy {
      font-size: 2rem;
      color: #FF411C;
      font-weight: 700;
      line-height: 34px;
      margin-bottom: 20px;
      letter-spacing: 0.04em;
      text-align: left;
    }

    /*!sc*/
    data-styled.g163[id="sc-7fcf91a3-1"] {
      content: "latxOy,"
    }

    /*!sc*/
    .gEFsvH {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-align: left;
    }

    /*!sc*/
    data-styled.g164[id="sc-7fcf91a3-2"] {
      content: "gEFsvH,"
    }

    /*!sc*/
    .iwqLcz {
      height: Hug (330px) px;
      padding: 10px;
      gap: 24px;
      border-radius: 4px 20px 4px 20px;
      border: 2px 0px 0px 0px;
      border: 2px solid #F8E2DA;
      opacity: 0px;
      width: 100%;
    }

    /*!sc*/
    data-styled.g165[id="sc-7fcf91a3-3"] {
      content: "iwqLcz,"
    }

    /*!sc*/
    .bSmOYk {
      min-height: 232px;
      height: auto;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto;
      opacity: 0px;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 1rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 4px 20px 4px 20px;
      border: 2px 0px 0px 0px;
      border: 2px solid #F8E2DA;
      width: calc(50% - 1rem);
    }

    /*!sc*/
    @media only screen and (max-width: 768px) {
      .bSmOYk {
        width: 100%;
      }
    }

    /*!sc*/
    data-styled.g166[id="sc-7fcf91a3-4"] {
      content: "bSmOYk,"
    }

    /*!sc*/
    .fpXgq {
      height: 290px;
      width: 1000px;
      top: 1719px;
      left: 148px;
      gap: 0px;
      border-radius: 4px 16px 4px 16px;
      opacity: 0px;
      text-align: left;
      object-fit: cover;
    }

    /*!sc*/
    @media (max-width:) {
      .fpXgq {
        margin-bottom: 3%;
      }
    }

    /*!sc*/
    data-styled.g167[id="sc-7fcf91a3-5"] {
      content: "fpXgq,"
    }

    /*!sc*/
    .eDsnZd {
      width: 110px;
      gap: 0px;
      opacity: 0px;
      font-size: 20px;
      font-weight: 700;
      color: #FF411C;
      margin: 7px 0;
    }

    /*!sc*/
    data-styled.g168[id="sc-7fcf91a3-6"] {
      content: "eDsnZd,"
    }

    /*!sc*/
    .hcbiZJ {
      font-size: 28px;
      color: #3D3D3D;
      font-weight: bold;
    }

    /*!sc*/
    @media only screen and (max-width: 768px) {
      .hcbiZJ {
        font-size: 24px;
      }
    }

    /*!sc*/
    data-styled.g169[id="sc-7fcf91a3-7"] {
      content: "hcbiZJ,"
    }

    /*!sc*/
    .BXDuz {
      font-size: 1rem;
      color: #333;
    }

    /*!sc*/
    data-styled.g170[id="sc-7fcf91a3-8"] {
      content: "BXDuz,"
    }

    /*!sc*/
    .chBXoQ {
      width: auto;
      background-color: #B8B8B8;
      color: #3D3D3D;
      padding: 0.25rem 0.5rem;
      border-radius: 4px 16px 4px 16px;
      font-size: 0.875rem;
      font-weight: 700;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
      text-align: center;
      margin-bottom: 10px;
    }

    /*!sc*/
    data-styled.g172[id="sc-7fcf91a3-10"] {
      content: "chBXoQ,"
    }

    /*!sc*/