{% extends "../base.html" %}
{% load static %}

{% block title %}Gestión de usuarios{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h3 class="font-title mb-4">Administración de usuarios</h3>

    <form method="GET" class="row g-3 mb-4">
        <div class="col-md-3">
            <label for="usuario_id" class="form-label">UsuarioID</label>
            <input type="text" class="form-control" name="usuario_id" id="usuario_id" placeholder="Ej: U001">
        </div>
        <div class="col-md-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ej: Juan Pérez">
        </div>
        <div class="col-md-3">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" class="form-control" name="correo" id="correo" placeholder="Ej: correo@ejemplo.cl">
        </div>
        <div class="col-md-3">
            <label for="rol" class="form-label">Rol</label>
            <select class="form-select" name="rol" id="rol">
                <option value="">Seleccione rol</option>
                <option value="auditor">Auditor Tributario</option>
                <option value="corredor">Corredor de Bolsas</option>
            </select>
        </div>
        <div class="col-md-12 d-flex justify-content-end gap-2">
            <button type="submit" class="btn btn-primary btn-sm">BUSCAR</button>
            <button type="reset" class="btn btn-primary btn-sm">LIMPIAR</button>
        </div>
    </form>

    <table class="table table-hover table-primary">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Rol</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
          <tr>
            <td><input type="radio" name="seleccion" value="{{ usuario.id }}"></td>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.first_name }}</td>
            <td>{{ usuario.last_name }}</td>
            <td>{{ usuario.email }}</td>
            <td>
                {% if usuario.groups.all %}
                    {{ usuario.groups.all.0.name }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td><a href="{% url 'modificar_usuario' usuario.id %}" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></a></td>
            <td><a href="{% url 'eliminar_usuario' usuario.id %}" class="btn btn-danger btn-sm"onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');"><i class="bi bi-trash"></i></a></td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="9">No hay registros disponibles.</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-end gap-2 my-3">
        <a href="{% url 'crear_usuario' %}"><button class="btn btn-sm btn-primary"><i class="bi bi-save"></i> CREAR USUARIO</button>
				<a href="{% url 'intranet' %}"><button class="btn btn-sm btn-secondary"><i class="bi bi-backspace"></i> VOLVER</button>
    </div>
</div>
{% endblock content %}