{% extends "../base.html" %}

{% block title %}Gestión de Calificaciones Tributarias{% endblock title %}
{% block navbar-title %}Gestión de Calificaciones Tributarias{% endblock navbar-title %}

{% block content %}
  <div class="row mt-5 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input class="form-control" type="text" placeholder="AC" aria-label="Disabled input example" disabled>
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input class="form-control" type="text" placeholder="JEEP" aria-label="Disabled input example" disabled>
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input class="form-control" type="text" placeholder="" aria-label="Disabled input example" disabled>
    </div>
  </div>
  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label">Fecha Pago</label>
    </div>
    <div class="col-auto">
      <input type="date" value="2025-03-23" disabled>
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input class="form-control" type="text" placeholder="JEEP" aria-label="Disabled input example" disabled>
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input class="form-control" type="text" placeholder="" aria-label="Disabled input example" disabled>
    </div>
  </div>
  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>
  
  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label">Valor1</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

{% endblock content %}