{% extends "../base.html" %}
{% load static %}

{% block title %}Gestión de Calificaciones Tributarias{% endblock title %}
{% block navbar %}
    <nav class="navbar bg-nuam-nav border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div class="row">
              <div class="col">
                <img src="{% static 'img/logo.png' %}" alt="Logo" width="117" height="27"> |
              </div>

              <div class="col">
                <h5 class="mb-0 text-black">
                  {% block navbar-title %}Creación de Calificación Tributaria{% endblock navbar-title %}
                </h5>
              </div>
            </div>
        </a>
        <div class="justify-content-end">
            <div class="profile-icon1">
                <i class="bi bi-person-circle"></i>
            </div>
        </div>
      </div>
    </nav>
{% endblock navbar %}

{% block content %}
<div class="container mt-5 mb-5">

  <form method="POST" class="p-4 rounded shadow bg-light">
    {% csrf_token %}

    <div class="row mb-3 justify-content-center" style="gap: 75px;">
      <div class="col-md-3">
        <label class="form-label">Mercado</label>
        <input type="text" class="form-control" name="mercado" id="mercado" placeholder="AC">
      </div>
      <div class="col-md-3">
        <label class="form-label">Instrumento</label>
        <input type="text" class="form-control" name="instrumento" id="instrumento" placeholder="JEEP">
      </div>
      <div class="col-md-3">
        <label class="form-label">Valor Histórico</label>
        <input type="text" class="form-control" name="valor_historico" id="valor_historico" placeholder="JEEP ACC 1X1">
      </div>
    </div>

    <div class="row mb-3 justify-content-center" style="gap: 75px;">
      <div class="col-md-3">
        <label class="form-label">Fecha Pago</label>
        <input type="date" class="form-control" name="fecha_pago" id="fecha_pago" placeholder="2025-01-02">
      </div>
      <div class="col-md-3">
        <label class="form-label">Evento Capital</label>
        <input type="text" class="form-control"name="evento_capital" id="evento_capital" placeholder="">
      </div>
      <div class="col-md-3">
        <label class="form-label">Descripción</label>
        <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="JEEP ACC 1X1">
      </div>
    </div>

    <div class="row mb-3 justify-content-center" style="gap: 75px;">
      <div class="col-md-3">
        <label class="form-label">Secuencia Evento</label>
        <input type="date" class="form-control" name="secuencia_evento" id="secuencia_evento" placeholder="100000809">
      </div>
      <div class="col-md-3">
        <label class="form-label">Año</label>
        <input type="text" class="form-control" name="anio" id="anio" placeholder="2025">
      </div>
      <div class="col-md-3 d-flex align-items-center justify-content-between">
        <label class="form-label">Ingreso por Montos</label>
        <input type="checkbox" class="form-check-input" name="ingreso_montos" id="ingreso_montos" style="margin-top: 0; margin-left: 150px;">
      </div>
    </div>
  <br>

  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 08 No <br> Constitutiva de <br> Renta No <br> Acogido a Impto.</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor8"
        id="factor8"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto" style="gap: 2px;">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 09 Impto. <br> 1ra Categ. Afecto <br> GI. Comp Con <br> Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor9"
        id="factor9"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto" style="margin-left: 25px;">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 10 <br> Impuesto Tasa <br> Adicional Exento <br> Art. 21</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor10"
        id="factor10"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>
  
  <div class="row mt-4 g-6 align-items-center" style="gap: 10px;">
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 11 <br> Incremento <br> Impuesto <br> 1ra Categoría</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor11"
        id="factor11"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 12 Impto. <br> 1ra Categ. Exento <br> GI. Comp. Con <br> Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor12"
        id="factor12"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.6rem;">Factor 13 Impto. <br> 1ra Categ. Afecto <br> GI. Comp. Sin <br> Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor13"
        id="factor13"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 14 Impto. <br> 1ra Categ. Exento <br> GI. Comp. Sin <br> Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor14"
        id="factor14"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 15 Impto. <br> Créditos por <br> Impuestos <br> Externos</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor15"
        id="factor15"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto" style="margin-left: 25px;">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 16 No <br> Constitutiva de <br> Renta Acogido a <br> Impto.</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor16"
        id="factor16"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 17 No <br> Constituida de <br> Renta Devolución <br> de Capital <br> Art. 17</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor17"
        id="factor17"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 18 <br> Rentas Exentas <br> de Impto. GC <br> Y/O Impto. <br> Adicional</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor18"
        id="factor18"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto" style="margin-left: 30px;">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 19 A <br> Ingreso no <br> Constitutivos <br> de Renta</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor19"
        id="factor19"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center" style="gap: 10px;">
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 20 <br> Sin Derecho <br> a Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor20"
        id="factor20"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 21 <br> Con Derecho a <br> Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor21"
        id="factor21"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto" style="margin-left: 13px;">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 22 <br> Sin Derecho <br> a Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor22"
        id="factor22"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center" style="gap: 5px;">
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 23 <br> Con Derecho a <br> Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor23"
        id="factor23"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 24 <br> Sin Derecho <br> a Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor24"
        id="factor24"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto" style="margin-left: 35px;">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 25 <br> Con Derecho a <br> Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor25"
        id="factor25"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center" style="gap: 9px;">
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 26 <br> Sin Derecho <br> a Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor26"
        id="factor26"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 27 <br> Con Derecho a <br> Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor27"
        id="factor27"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto" style="margin-left: 18px;">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 28 <br> Crédito por IPE</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor28"
        id="factor28"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center" style="gap: 9px;">
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 29 <br> Sin Derecho <br> a Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor29"
        id="factor29"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 30 <br> Con Derecho <br> a Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor30"
        id="factor30"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto" style="margin-left: 25px;">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 31 <br> Sin Derecho <br> a Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor31"
        id="factor31"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center" style="gap: 9px;">
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 32 <br> Con Derecho <br> a Devolución</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor32"
        id="factor32"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 33 <br> Crédito por IPE</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor33"
        id="factor33"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto" style="margin-left: 15px;">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 34 Cred. <br> Por Impto. Tasa <br> Adicional Ex <br> Art. 21 LIR</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor34"
        id="factor34"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center" style="gap: 9px;">
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 35 Tasa <br> Efectiva Del <br> Cred. Del FUT <br> (TEF)</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor35"
        id="factor35"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 36 Tasa <br> Efectiva Del <br> Cred. Del FUNT <br> (TEX)</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor36"
        id="factor36"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
    <div class="col-auto" style="margin-left: 10px;">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 37 <br> Devolución de <br> Capital Art. <br> 17 num 7 LIR</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor37"
        id="factor37"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

  <div class="row mt-4 g-6 align-items-center">
    <div class="col-auto">
      <label for="" class="form-label" style="font-size: 0.7rem;">Factor 38 <br> Descripción</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        class="form-control"
        name="factor38"
        id="factor38"
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>

    <div class="d-flex justify-content-end mt-5 gap-3">
      <button type="submit" class="btn btn-primary px-4">INGRESAR</button>
      <button type="reset" class="btn btn-secondary px-4">CANCELAR</button>
    </div>

  </form>
</div>
{% endblock content %}